{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skillpix Form</title>
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>
  <div class="background">
    <form method="post" action="{% url 'skill_form:form' %}">
      {% csrf_token %}

      <p>
        1. What degree you are pursuing?
        <input type="text" name="degree" class="box" required>
        <small class="hint">Example: BSc Computer Science</small>
      </p>

      <p>
        2. Skills you have?
        <input type="text" name="skills" class="box" required>
        <small class="hint">Example: HTML CSS</small>
      </p>

      <p>
        3. Time duration ? 
        <div class="check">
         <label>
           <input type="radio" name="duration" value="6">
           6 months
         </label>

         <label>
           <input type="radio" name="duration" value="12">
           1 year
         </label>

         <label>
           <input type="radio" name="duration" value="24">
            1.5 years
         </label>
         <label>
           <input type="radio" name="duration" value="24">
            2 years
         </label>
       </div>
      </p>

      <p>
        4. End goal
        <input type="text" name="end_goal" class="box" required>
        <small class="hint">Example: UI/UX Designer , Software Engineer</small>
      </p>

      <button type="submit">
        Generate roadmap
      </button>
    </form>
  </div>
</body>

</html>